# Cleaning Data notebook

In [1]:
import os
import warnings

import numpy as np
import pandas as pd

warnings.filterwarnings("ignore")

In [2]:
INITIAL_DATA_PATH = "../data/initial"
CLEANED_DATA_PATH = "../data/cleaned"

## Load data

In [3]:
def load_df(name: str) -> pd.DataFrame:
    return pd.read_csv(os.path.join(INITIAL_DATA_PATH, f"{name}.csv"))

In [4]:
campaigns_df = load_df("campaigns")
client_purchase_df = load_df("client_first_purchase_date")
events_df = load_df("events")
friends_df = load_df("friends")
messages_df = load_df("messages")

## Save data

In [5]:
def save_df(name: str, dataset: pd.DataFrame):
    if not os.path.exists(CLEANED_DATA_PATH):
        os.makedirs(CLEANED_DATA_PATH)

    dataset.to_csv(os.path.join(CLEANED_DATA_PATH, f"{name}.csv"), index=False)

## Campaigns âœ…

### Insights

In [6]:
campaigns_df.head(5)

,id,campaign_type,channel,topic,started_at,finished_at,total_count,ab_test,warmup_mode,hour_limit,subject_length,subject_with_personalization,subject_with_deadline,subject_with_emoji,subject_with_bonuses,subject_with_discount,subject_with_saleout,is_test,position
0,63,bulk,mobile_push,sale out,2021-04-30 07:22:36.615023,2021-04-30 07:23:41,48211.0,NaN,False,NaN,146.0,False,False,True,False,False,False,NaN,NaN
1,64,bulk,mobile_push,sale out,2021-04-30 09:02:50.817227,2021-04-30 09:04:08,1037337.0,NaN,False,NaN,97.0,False,False,True,False,False,False,NaN,NaN
2,78,bulk,mobile_push,sale out,2021-05-06 07:14:10.533318,2021-05-06 07:15:17,70080.0,NaN,False,NaN,146.0,False,False,True,False,False,False,NaN,NaN
3,79,bulk,mobile_push,sale out,2021-05-06 09:03:56.486750,2021-05-06 09:42:15,921838.0,NaN,False,NaN,97.0,False,False,True,False,False,False,NaN,NaN
4,89,bulk,mobile_push,NaN,2021-05-07 11:54:06.168664,2021-05-07 11:54:38,45503.0,NaN,False,NaN,109.0,False,True,True,False,False,False,NaN,NaN

In [7]:
campaigns_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1907 entries, 0 to 1906
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            1907 non-null   int64
 1   campaign_type                 1907 non-null   object
 2   channel                       1907 non-null   object
 3   topic                         1877 non-null   object
 4   started_at                    1824 non-null   object
 5   finished_at                   1808 non-null   object
 6   total_count                   1824 non-null   float64
 7   ab_test                       12 non-null     object
 8   warmup_mode                   1830 non-null   object
 9   hour_limit                    31 non-null     float64
 10  subject_length                1880 non-null   float64
 11  subject_with_personalization  1880 non-null   object
 12  subject_with_deadline         1880 non-null   object
 13  subject_with_emoji            1880 non-null   object
 14  subject_with_bonuses          1880 non-null   object
 15  subject_with_discount         1880 non-null   object
 16  subject_with_saleout          1880 non-null   object
 17  is_test                       27 non-null     object
 18  position                      24 non-null     float64
dtypes: float64(4), int64(1), object(14)
memory usage: 283.2+ KB

In [8]:
campaigns_df.isna().sum()

id                                 0
campaign_type                      0
channel                            0
topic                             30
started_at                        83
finished_at                       99
total_count                       83
ab_test                         1895
warmup_mode                       77
hour_limit                      1876
subject_length                    27
subject_with_personalization      27
subject_with_deadline             27
subject_with_emoji                27
subject_with_bonuses              27
subject_with_discount             27
subject_with_saleout              27
is_test                         1880
position                        1883
dtype: int64

### Cleaning

In [9]:
# Convert int columns to int type
campaigns_int_columns = [
    "total_count",
    "position",
    "hour_limit",
    "subject_length",
]

campaigns_df[campaigns_int_columns] = campaigns_df[campaigns_int_columns].astype(
    pd.Int64Dtype()
)

In [10]:
# Convert boolean columns to boolean type
campaigns_boolean_columns = [
    "ab_test",
    "warmup_mode",
    "subject_with_personalization",
    "subject_with_deadline",
    "subject_with_emoji",
    "subject_with_bonuses",
    "subject_with_discount",
    "subject_with_saleout",
    "is_test",
]

campaigns_df[campaigns_boolean_columns] = (
    campaigns_df[campaigns_boolean_columns].astype(bool).notna()
)  # Treat NaN as False

In [11]:
save_df("campaigns", campaigns_df)

## Client 1st Purchase Date âœ…

### Insights

In [12]:
client_purchase_df.head(5)

             client_id first_purchase_date    user_id  user_device_id
0  1515915625490504587          2022-01-04  549050458               7
1  1515915625490849433          2022-06-03  549084943               3
2  1515915625575901205          2022-03-10  557590120               5
3  1515915625490142421          2022-09-28  549014242               1
4  1515915625636825676          2022-01-13  563682567               6

In [13]:
client_purchase_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175164 entries, 0 to 175163
Data columns (total 4 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   client_id            175164 non-null  int64
 1   first_purchase_date  175164 non-null  object
 2   user_id              175164 non-null  int64
 3   user_device_id       175164 non-null  int64
dtypes: int64(3), object(1)
memory usage: 5.3+ MB

In [14]:
client_purchase_df.isna().sum()

client_id              0
first_purchase_date    0
user_id                0
user_device_id         0
dtype: int64

No cleaning needed!

In [15]:
save_df("client_first_purchase_date", client_purchase_df)

## Events âœ…

### Insights

In [16]:
events_df.head(10)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 02:18:49 UTC,view,1003991,2053013555631882655,electronics.smartphone,lg,216.20,550346297,8d8694d3-271a-4d03-82ee-28d5fbcbd53c
1,2019-10-01 02:19:53 UTC,view,1003991,2053013555631882655,electronics.smartphone,lg,216.20,550346297,8d8694d3-271a-4d03-82ee-28d5fbcbd53c
2,2019-10-01 02:21:22 UTC,view,1003441,2053013555631882655,electronics.smartphone,nokia,407.11,550346297,8d8694d3-271a-4d03-82ee-28d5fbcbd53c
3,2019-10-01 02:21:55 UTC,view,1003774,2053013555631882655,electronics.smartphone,nokia,370.20,550346297,8d8694d3-271a-4d03-82ee-28d5fbcbd53c
4,2019-10-01 02:22:51 UTC,view,1003774,2053013555631882655,electronics.smartphone,nokia,370.20,550346297,8d8694d3-271a-4d03-82ee-28d5fbcbd53c
5,2019-10-01 02:23:51 UTC,view,8800442,2053013555573162395,electronics.telephone,nokia,64.09,550346297,8d8694d3-271a-4d03-82ee-28d5fbcbd53c
6,2019-10-01 02:24:36 UTC,view,8800442,2053013555573162395,electronics.telephone,nokia,64.09,550346297,8d8694d3-271a-4d03-82ee-28d5fbcbd53c
7,2019-10-01 02:28:15 UTC,view,1004833,2053013555631882655,electronics.smartphone,samsung,174.76,554750237,c2da0654-bd6d-4aef-8c11-a086daaeb4ac
8,2019-10-01 02:33:01 UTC,view,1005069,2053013555631882655,electronics.smartphone,vivo,321.73,555464046,2f60777e-a397-4f23-b7a7-f9fea8e02f64
9,2019-10-01 02:33:12 UTC,view,32701165,2055156924466332447,NaN,zemex,88.90,549085912,e6d0bd67-8631-4bfa-994d-356971cffda9

In [17]:
events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306247 entries, 0 to 1306246
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   event_time     1306247 non-null  object
 1   event_type     1306247 non-null  object
 2   product_id     1306247 non-null  int64
 3   category_id    1306247 non-null  int64
 4   category_code  974756 non-null   object
 5   brand          1132894 non-null  object
 6   price          1306247 non-null  float64
 7   user_id        1306247 non-null  int64
 8   user_session   1306247 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 89.7+ MB

In [18]:
events_df.isna().sum()

event_time            0
event_type            0
product_id            0
category_id           0
category_code    331491
brand            173353
price                 0
user_id               0
user_session          0
dtype: int64

In [19]:
events_df.groupby("product_id").filter(lambda x: x["brand"].nunique() > 1)[
    "product_id"
].unique()

array([ 12202062,  12200742,   5100376,  18001338,   9600073,  16600203,
        16600185,  16600198,  16600197,   5100551,  10701101,   5100375,
         5100377,   5100378,   5100674,   9600079,  18001406,   9600059,
        34800323,   5100678,  18001454,   8902633,  12720185,  18001391,
        29100055,  18001337,   9600142,  28101062,  12720195,  18001197,
        21100405,  28400774,  18001236,   9600096,  12720091,  18000387,
         4804336,   5100329,  18001198,  18001199,  34800588,  18001569,
        18000966,  17200973,   3601005,  16600191,  16600184,   4802095,
        47100009,   5100491,   5801278,   1801226,   7006199,  22700958,
        22700959,  22700963,  18001339,  10201451,  10201217,   7006182,
        22700964,  17301741,  10201317,  10201797,   3801416,   7006183,
        10701166,  10301153,   4804335,  10502875, 100019474,  18001597,
        10201366,  18001394,  10201304,  10201028,  10502714,  10201025,
         5100328,   9600071,   5100581,  34800480,  20100389,   9600095,
        14100336,  47100010,  18001541, 100014131, 100023316,  18001277,
         9200533,  18001397,  18001071,  18001235,  34800482,  18001097,
         5100676,   1480638,  12704775,   5100675,   5100582,  18001230,
        12703662,  18001267,  10503033,   9400017,  11200189,  10503897,
        18001204,  12719869,  18001360,  34800427,  34800424,  18001485,
        18001461,  12720194,  18001618,  17800397,   2240148,  18900183,
        18900371,   7006207,  18001539,  10200939, 100012571,  10201450,
        10201775,  10502713,   9600156,  18001617,  18001565,  20000642,
        18001392,  10201336,  53100039,  10201308,  10504038,   7003278,
        12720101,  18001481,  10300473,  13800557,  34800583,  34800560,
        10701128,   5100583,  10200316,  17300883,  12201767,   7006184,
        18001600,  12703361,   2600248, 100012431,  22700961,  18900204,
        26500572,  10200799,  18000285,  18000271,  10201774,  18001412,
        18001384, 100003314,  18001182,  45300093,   8500334,  12000324,
        12703109, 100015396,  10200982,  38700068,  18001464,  58500007,
        26900064,   8500324,  18001398,   9200650,  12703145])

In [20]:
# Some products has different brand
events_df.loc[events_df["product_id"] == 12202062, ["product_id", "brand"]]

        product_id       brand
364       12202062          lg
365       12202062          lg
128125    12202062  cannondale
877473    12202062          lg
880558    12202062          lg
880559    12202062          lg
880560    12202062          lg

In [21]:
# Make sure same category ids have same category code
events_df.groupby("category_id").filter(lambda x: x["category_code"].nunique() > 1)[
    "category_id"
].unique()

array([], dtype=int64)

### Cleaning

In [22]:
# Take as brand the most-common not null brand for each product_id
events_df["brand"] = events_df.groupby("product_id")["brand"].transform(
    lambda x: x.fillna(
        x.mode(dropna=True)[0] if not x.mode(dropna=True).empty else np.nan
    )
)

In [23]:
events_df.isna().sum()

event_time            0
event_type            0
product_id            0
category_id           0
category_code    331491
brand            167854
price                 0
user_id               0
user_session          0
dtype: int64

In [24]:
save_df("events", events_df)

## Friends âœ…

### Insights

In [25]:
friends_df.head(5)

     friend1    friend2
0  561161610  556896192
1  549047060  561241198
2  555082534  548913408
3  559767667  548950914
4  559330431  549191806

In [26]:
friends_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1974237 entries, 0 to 1974236
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   friend1  int64
 1   friend2  int64
dtypes: int64(2)
memory usage: 30.1 MB

In [27]:
friends_df.isna().sum()

friend1    0
friend2    0
dtype: int64

### Cleaning

In [37]:
# Ensure each pair (friend1, friend2) is unique
friends_df.drop_duplicates(inplace=True)

In [38]:
save_df("friends", friends_df)

## Messages âœ…

### Insights

In [29]:
messages_df.head(5)

,id,message_id,campaign_id,message_type,client_id,channel,category,platform,email_provider,stream,...,is_complained,complained_at,is_blocked,blocked_at,is_purchased,purchased_at,created_at,updated_at,user_device_id,user_id
0,3528648,5850858d-2dcf-4f31-a0d3-5db5649b17c4,32,transactional,1515915625490455948,email,NaN,NaN,mail.ru,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 08:55:07.727792,2023-04-27 08:56:19.926474,8,549045594
1,3532134,2819c065-64c3-4790-b827-95b67673799f,179,transactional,1515915625559452765,email,NaN,NaN,mail.ru,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 08:55:12.867346,2023-04-27 08:56:25.365322,5,555945276
2,3533768,ad2ee04f-ebbf-4a53-938c-e868e3100193,179,transactional,1515915625500453590,email,NaN,NaN,gmail.com,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 08:55:15.317548,2023-04-27 08:56:44.904473,0,550045359
3,3533065,7339a90b-44ad-4b8e-bcad-96aba19aa04f,179,transactional,1515915625491642511,email,NaN,NaN,mail.ru,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 08:55:14.248087,2023-04-27 08:57:39.638158,1,549164251
4,3524033,becc8b8f-39a8-43af-bb63-1ecf2e3adc56,27,transactional,1515915625471416467,email,NaN,NaN,mail.ru,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 08:55:01.046351,2023-04-27 09:05:51.056925,7,547141646

In [30]:
messages_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000104 entries, 0 to 3000103
Data columns (total 34 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     int64
 1   message_id             object
 2   campaign_id            int64
 3   message_type           object
 4   client_id              int64
 5   channel                object
 6   category               float64
 7   platform               object
 8   email_provider         object
 9   stream                 object
 10  date                   object
 11  sent_at                object
 12  is_opened              object
 13  opened_first_time_at   object
 14  opened_last_time_at    object
 15  is_clicked             object
 16  clicked_first_time_at  object
 17  clicked_last_time_at   object
 18  is_unsubscribed        object
 19  unsubscribed_at        object
 20  is_hard_bounced        object
 21  hard_bounced_at        object
 22  is_soft_bounced        object
 23  soft_bounced_at        object
 24  is_complained          object
 25  complained_at          object
 26  is_blocked             object
 27  blocked_at             object
 28  is_purchased           object
 29  purchased_at           object
 30  created_at             object
 31  updated_at             object
 32  user_device_id         int64
 33  user_id                int64
dtypes: float64(1), int64(5), object(28)
memory usage: 778.2+ MB

In [31]:
messages_df.isna().sum()

id                             0
message_id                     0
campaign_id                    0
message_type                   0
client_id                      0
channel                        0
category                 3000104
platform                 2780044
email_provider           1268693
stream                         0
date                           0
sent_at                        0
is_opened                      0
opened_first_time_at     2516382
opened_last_time_at      2516382
is_clicked                     0
clicked_first_time_at    2929447
clicked_last_time_at     2929447
is_unsubscribed                0
unsubscribed_at          2909010
is_hard_bounced                0
hard_bounced_at          2990845
is_soft_bounced                0
soft_bounced_at          2998689
is_complained                  0
complained_at            2998585
is_blocked                     0
blocked_at               3000031
is_purchased                   0
purchased_at             2996396
created_at                     0
updated_at                     0
user_device_id                 0
user_id                        0
dtype: int64

In [32]:
# All categories are missing (but we have only snapshot)
messages_df["category"].isna().sum() == len(messages_df)

np.True_

### Cleaning

In [33]:
# messages_df.drop("category", axis=1, inplace=True)  # Drop categories

In [34]:
# Convert boolean columns to boolean type
messages_boolean_columns = [
    "is_opened",
    "is_clicked",
    "is_unsubscribed",
    "is_hard_bounced",
    "is_soft_bounced",
    "is_complained",
    "is_blocked",
    "is_purchased",
]

messages_df[messages_boolean_columns] = messages_df[messages_boolean_columns].replace(
    {"t": True, "f": False}
)

In [35]:
save_df("messages", messages_df)